body {
  font-family: 'Open Sans', sans-serif;
  background-color: #fff;
}

header {
  background-color: #563d7c;
  padding: 25px 0 25px 15px;
}

header .wrapper {
  display: flex;
  justify-content: space-between;
}

header h1 {
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 0.3px;
  display: inline-block;
  margin: 0;
  vertical-align: middle;
}

.buttonLogin {
  border-radius: 10px;
  min-width: 88px;
  background-color: #563d7c;
  min-width: 120px;
  color: #ffe484;
  font-size: 14px;
  box-shadow: 0 10px 10px 0 rgba(0,0,0,.26);
  padding: 1px 1px;
  border-color: #ffe484;
  border: 1px solid;
}

.buttonLogin:hover{
  background-color: #ffe484;
  color: #563d7c; 
}

.container {
  display: flex;
  max-width: 1100px;
  margin: 0 auto;
  padding-top: 30px;
}

.wrapper {
  max-width: 1100px;
  margin: 0 auto;
}

.add-item {
  margin-right: 50px;
  padding: 60px 18px;
  margin-bottom: 34px;  
  width: 25%;
  margin-right: auto;
}

.display-item {
  width: 65%;
  margin-left: 50px;
}

.display-item button {
  margin-top: 20px;
  margin-left: auto;
  display: block;
}

.add-item form {
  width: 100%;
  overflow: hidden;
}

input {
  font-size: 22px;
  color: #000;
  padding: 18px 22px;
  font-size: 16px;
  margin-bottom: 17px;
  border: 2px groove #000;
  display: block;
  width: 100%; 
  border-radius: 10px; 
}

input:focus{
  border-color: #ffe484;
  border: 2px groove #563d7c;
  box-shadow: 0 2px 2px 0 #000;
  }

ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.lista {
  width: calc(50% - 50px);
  list-style-type: none;
  margin-right: 50px;
  background-color: rgb(237, 237, 237);
  color: #000;
  margin-bottom: 30px;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,.14), 0 3px 3px -2px rgba(0,0,0,.12), 0 1px 8px 0 rgba(0,0,0,.2);
}



h2 {
  padding: 0;
  margin: 0;
  font-weight: 400;
}

li h3 {
  background-color: #103D5D;
  margin: 0;
  color: #fff;
  font-weight: 300;
  padding: 15px;
  text-align: center;
}

li p {
  padding: 15px;
}

form button {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
}

form button:disabled {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: rgba(102, 104, 102, 0.178);
  box-shadow: none;
}

button {
  border-radius: 30px;
  min-width: 88px;
  background-color: rgba(39, 122, 18, 0.521);
  cursor: pointer;
  border: 0;
  min-width: 120px;
  color: #fff;
  font-size: 14px;
  box-shadow: 0 10px 10px 0 rgba(0,0,0,.26);
  padding: 10px 6px;
}



.buttonController {
  border-radius: 30px;
  min-width: 88px;
  background-color: rgba(39, 122, 18, 0.521);
  border: 0;
  min-width: 120px;
  color: #fff;
  font-size: 14px;
  box-shadow: 0 10px 10px 0 rgba(0,0,0,.26);
  padding: 10px 6px;
  width: 100%;
  margin-bottom: 25px;
}
.buttonDelete {
  border-radius: 30px;
  min-width: 88px;
  background-color: rgba(212, 19, 19, 0.705);
  border: 0;
  min-width: 120px;
  color: #fff;
  font-size: 14px;
  box-shadow: 0 10px 10px 0 rgba(0,0,0,.26);
  padding: 10px 6px;
 
}
.user-profile {
  position: fixed;
  bottom: 20px;
  right: 40px;
  width: 100px;
  height: 100px;
}

.user-profile img {
  border-radius: 50%;
  max-width: 100%;
}