body {
  font-family: 'Open Sans', sans-serif;
  background-color: #fff;
}

/* *** HEADERS *** */

header {
  background-color: #563d7c;
  padding: 25px 0 25px 15px;
}
header .wrapper {
  display: flex;
  justify-content: space-between;
}

header h1 {
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 0.3px;
  display: inline-block;
  margin: 0;
  vertical-align: middle;
}